/* MODAL WINDOW  */

dialog {
  box-shadow: 0px 0px 5px #757575;
  border-radius: 5px;
  border: .5px solid #757575;

  &::backdrop {
    backdrop-filter: blur(1px);
  }

  width: 50%;
  height: 35%;
}

:host {
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #727272;
  background-color: #e7ffb6;

  &::backdrop {
    backdrop-filter: blur(2px);
  }
}

.header{
  padding: 0;
  margin: 0;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* background-color: #00843d; */
  background-color: #087d52;
  font-weight: 300;
}

#input-text{
  margin: 25px;
  padding: 10px;
  width: 85%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#divItem{
  margin-top: 8px;
  margin-left: 8px;
}

.modal-body{
  padding: 1.0rem;
}

.buttons-btn-modal{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 0.5rem;
}

.btn-confirmar{
  background-color: rgb(35, 219, 35);
  border: none;
  border-radius: 2px;
  font-family: "Outfit", serif;
  font-style: normal;
  height: 35px;
}

.btn-cancelar{
  background-color: red;
  border: none;
  border-radius: 2px;
  font-family: "Outfit", serif;
  font-style: normal;
  height: 35px;
}
