::ng-deep {
  .header{
    background-color: #00843d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: auto;
    height: 50px;
    width: 100%;
  }

  .toolbar {
    background-color: #00843d;
  }

  .dx-button-mode-contained {
    .dx-icon{
      margin: 4px 0 0 15px;

      &::before{
        color: white;
      }
    }
  }

  #titulo{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;

    .versao {
      font-size: 12px;
      margin-left: 6px;
    }
  }

  .usuario-menu {
    margin-right: 10px;

    .dx-menu-item {
      color: white;
    }

    .dx-menu {
      background-color: transparent;
    }
  }

  .dx-list-item{
    color: white;
  }
}

