::ng-deep {
  .header {
    // background-color: #00843d;
    background-color: #087d52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    // padding: 0 16px;
    height: 50px;
    width: 100%;
  }

  .toolbar {
    // background-color: #00843d;
    background-color: #087d52;
  }

  .dx-button-mode-contained {
    .dx-icon {
      margin: 5px;

      &::before {
        color: white;
      }
    }
  }

  #titulo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;

    .versao {
      font-size: 12px;
      margin-left: 6px;
    }
  }

  .usuario-nome {
    cursor: pointer;
    padding: 8px;
    color: white;
  }

  .popover-logout {
    cursor: pointer;
    color: #d32f2f;
    font-weight: 500;
    transition: background-color 0.2s;
  }

  .popover-opcao:hover {
    background-color: #f5f5f5;
  }

  .dx-list-item {           // Itens do Drawer verde
    color: black;
    font-weight: 500;
  }
}
