<header class="header">
  <dx-toolbar class="toolbar">
    <dxi-item
      location="before"
      widget="dxButton"
      [options]="SidenavOpen"
      id="button"
    ></dxi-item>
    <dxi-item location="center" type="text" id="titulo"
      >Planilha de Avaliação 5S
      <small class="versao">(v{{ "1.0" }})</small>
    </dxi-item>
    <dxi-item location="after" cssClass="usuario-menu">
      <div class="usuario-nome" (click)="mostrarPopover = true" #botaoUsuario>
        Usuário: {{ nomeUsuario }}
      </div>

      <dx-popover
        [target]="botaoUsuario"
        [visible]="mostrarPopover"
        (onHiding)="mostrarPopover = false"
        [width]="150"
        position="bottom"
      >
        <div class="popover-logout" (click)="logout()">Sair</div>
      </dx-popover>
    </dxi-item>
  </dx-toolbar>

        <!-- [closeOnOutsideClick]="true" -->
</header>
