<header class="header">
  <dx-toolbar class="toolbar">
    <dxi-item
      location="before"
      widget="dxButton"
      [options]="SidenavOpen"
      id="button"
    ></dxi-item>
    <dxi-item location="center" type="text" id="titulo"
      >Planilha de Avaliação 5S
      <small class="versao">(v{{ "1.0" }})</small>
    </dxi-item>
    <dxi-item location="after" cssClass="usuario-menu">
      <dx-menu
        [items]="usuarioMenu"
        displayExpr="text"
        (onItemClick)="onUsuarioMenuClick($event)"
      >
      </dx-menu>
    </dxi-item>
  </dx-toolbar>
</header>
