body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container-lg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

#itemTitulo {
  color: #00843d;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}

.btn-criar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #00843d;
  color: white !important;
  border: none;
  border-radius: 8px;
  font-size: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.master-detail-content {
  padding: 10px 20px;
  background-color: #f9f9f9;
}

/* Pai dos campos Input */
.input-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
}

/* Todos Inputs respectivamente */
.input-text {
  flex: 1 1 200px; /* base de 200px, mas pode crescer/diminuir */
  min-width: 150px;
  max-width: 100%;
  height: 27px;
  font-family: "Outfit", serif;
  border: none;
  border-radius: 2px;
  outline: none;
  margin: 10px;
  box-sizing: border-box;
}

/* Esconde o Placeholder quando clicado em cima */

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus::-ms-placeholder {
  opacity: 0;
}

/* Esconde o spin button do Input > Type = Number */

.input-text::-webkit-calendar-picker-indicator {
  font-variant-caps: titling-caps;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Pai dos botões confirmar / cancelar */
.buttons-btn {
  margin: 15px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.btn-confirmar {
  background-color: rgb(35, 219, 35);
  border: none;
  border-radius: 2px;
  font-family: "Outfit", serif;
  font-style: normal;
  height: 35px;
}

.btn-cancelar {
  background-color: red;
  border: none;
  border-radius: 2px;
  font-family: "Outfit", serif;
  font-style: normal;
  height: 35px;
}

/* DRAWER AGRUPADORES */

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
  padding: 24px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  /* border-left: 5px solid #00843d; */
  font-family: "Outfit", sans-serif;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.drawer-top {
  flex: 1;
  overflow-y: auto;
  padding-right: 4px;
}

.drawer.open {
  transform: translateX(0%);
  pointer-events: auto;
  visibility: visible;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.drawer-header h3 {
  font-size: 1.4rem;
  color: #333;
  margin: 0;
}

.drawer-header button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #888;
  cursor: pointer;
  transition: color 0.2s ease;
}

.drawer-header button:hover {
  color: #ff4d4f;
}

.agrupador-info {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.agrupador-inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.agrupador-inputs input,
.agrupador-inputs textarea {
  width: 100%;
  padding: 8px;
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.agrupador-inputs input:focus,
.agrupador-inputs textarea:focus {
  border-color: #00843d;
}

.agrupador-status {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.status-indicator span {
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.status-indicator .ativo {
  background-color: #d0f0da;
  color: #00843d;
  border: 1px solid #00843d;
}

.status-indicator .inativo {
  background-color: #f8d7da;
  color: #a94442;
  border: 1px solid #a94442;
}

.drawer-divider {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* linha fina e translúcida */
  margin: 10px 0;
}

/* Body do Drawer */
.drawer-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.drawer-body label {
  font-weight: 600;
  color: #333;
}

/* Text Area da Aba Descrição */
.drawer-body textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  transition: border-color 0.2s ease;
}

.drawer-body textarea:focus {
  border-color: /*#0078d4*/ #00843d;
  outline: none;
}

.drawer-body input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 50%;
}

.cadastro-itens input {
  padding: 8px;
  width: calc(100% - 100px);
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 10px;
}

.cadastro-itens input:focus {
  border-color: /*#0078d4*/ #00843d;
  outline: none;
}

.btn-add {
  padding: 8px 12px;
  background-color: #00843d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.btn-add:hover {
  background-color: #006f32;
}

.lista-itens {
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.lista-itens dx-data-grid {
  flex-grow: 1;
  min-height: 0;
  overflow: auto;
}

.lista-itens h4 {
  margin: 0;
}

.lista-itens ul {
  list-style: none;
  padding-left: 0;
}

.lista-itens li {
  padding: 6px 0;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

::ng-deep .dx-icon-trash:before{    /* Cor botão de Excluir Itens */
  color: #006f32;
}

::ng-deep .dx-datagrid .dx-link{    /* Cor botão editar */
  color: #006f32
}

::ng-deep .dx-toast-warning { /* Cor de Fundo do Warning */
    background-color: #ffc61a !important;
    /* Borda para destaque */
    /* border: 1px solid #ffcc33 !important; */
}

.btn-trash {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  transition: color 0.2s ease;
}

.btn-trash:hover {
  color: #e53935; /* vermelho suave */
}

/* POP UP */

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* padding: 16px; */
}

.popup-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s;
  outline: none;
}

.popup-input:focus {
  outline: none;
  border-color: #00843d;
}

.popup-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.drawer-footer {
  position: sticky;
  bottom: 0;
  /* background-color: #f9f9f9; */
  padding-top: 10px;
  /* box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.05); */
  display: flex;
  justify-content: flex-start;
  z-index: 10;
}


::ng-deep .dx-datagrid .dx-row-focused {
    background-color: #fce8cd !important;
    color: #000;
}

/* Opcional: para o caso de a linha ainda estar "selecionada" */
::ng-deep .dx-datagrid .dx-row-selected {
    /* Cor de fundo para a linha quando selecionada, mas que perdeu o foco */
    background-color: #ffedda !important; /* Exemplo: um tom ainda mais claro */
}

/* Opcional: Removendo borda pontilhada que aparece após o foco */
::ng-deep .dx-datagrid .dx-row-focused.dx-row-selected .dx-data-row {
    outline: none !important;
}
