/* .header{
  background-color: #00843d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
  height: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
} */

.container-lg{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#itemTitulo{
  color: white;
  margin: 14px;
}

#dataGrid{
  width: 100%;
  margin-top: 20px;
  background-color: #00843d;
}

/* Pai dos campos Input */

.input-box{
  margin: 15px;
  width: 100%;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* Todos Inputs respectivamente */
.input-text{
  height: 27px;
  font-family: "Outfit", serif;
  border: none;
  border-radius: 2px;
  outline: none;
  margin: 10px;
}

/* Esconde o Placeholder quando clicado em cima */

input:focus::-webkit-input-placeholder{
  opacity: 0;
}

input:focus::-moz-placeholder{
  opacity: 0;
}

input:focus::-ms-placeholder{
  opacity: 0;
}

/* Esconde o spin button do Input > Type = Number */

.input-text::-webkit-calendar-picker-indicator { font-variant-caps: titling-caps; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

/* Pai dos botões confirmar / cancelar */
.buttons-btn{
  margin: 15px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.btn-confirmar{
  background-color: rgb(35, 219, 35);
  border: none;
  border-radius: 2px;
  font-family: "Outfit", serif;
  font-style: normal;
  height: 35px;
}

.btn-cancelar{
  background-color: red;
  border: none;
  border-radius: 2px;
  font-family: "Outfit", serif;
  font-style: normal;
  height: 35px;
}


.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer-body {
  margin-top: 20px;
}

.cursor-pointer {
  cursor: pointer;
  transition: color 0.3s ease;
}

.cursor-pointer:hover {
  color: #007bff;
  text-decoration: underline;
}

.btn-trash {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-trash:hover {
  color: red;
}

.popup-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

