.btn-confirmar{
  background-color: rgb(35, 219, 35);
  border: none;
  border-radius: 2px;
  font-family: "Outfit", serif;
  font-style: normal;
  height: 35px;
}

.btn-cancelar{
  background-color: red;
  border: none;
  border-radius: 2px;
  font-family: "Outfit", serif;
  font-style: normal;
  height: 35px;
}
