<header class="header">Planilha de Avaliação 5S e BPF</header>

<div class="container-lg">

  <app-add-item-verif #modalAddItem></app-add-item-verif>

  <dx-data-grid id="dataGrid"
    [dataSource]="itensVerificados" width="80%" height="400px"
    [showBorders]="true"
    [showRowLines]="true"
    [rowAlternationEnabled]="true">
    <dxo-toolbar class="toolbar" id="toolbar">
      <dxi-item location="before">
        <div id="itemTitulo">ITENS</div>
      </dxi-item>
      <dxi-item location="center"> <input class="input-text" type="number" placeholder="Matrícula" id="matricula"> </dxi-item>
      <dxi-item location="center"> <input class="input-text" type="text" placeholder="Avaliador" id="nome"> </dxi-item>
      <dxi-item location="center"> <input class="input-text" type="date" id="data"> </dxi-item>
      <dxi-item location="center"> <input class="input-text" type="text" placeholder="Áreas Comuns" id="area"> </dxi-item>
      <dxi-item location="after" class="button" id="addItem">
        <dx-button text="+" (onClick)="showModal()" [width]="35" [height]="30"></dx-button>
      </dxi-item>
    </dxo-toolbar>
    <dxi-column alignment="center" dataField="ativo" caption="Ativo" [width]="80"> </dxi-column>
    <dxi-column alignment="center" dataField="descricaoItem" caption="Descrição"> </dxi-column>
    <dxi-column alignment="center" dataField="dataDeCriacao" caption="Criado em:" [width]="120"> </dxi-column>
    <dxi-column alignment="center" dataField="dataDeModificacao" caption="Data de Modificação" [width]="150"> </dxi-column>
  </dx-data-grid>

  <div class="buttons-btn">
    <button class="btn-confirmar">Confirmar</button>
    <button class="btn-cancelar">Cancelar</button>
  </div>
</div>
