<div class="container-lg">
  <dx-data-grid
    id="dataGrid"
    [dataSource]="setoresList"
    [rowAlternationEnabled]="true"
    [showRowLines]="true"
    [showBorders]="true"
    width="100%"
    height="100%"
  >
    <dxo-toolbar class="toolbar" id="toolbar">
      <dxi-item location="before" id="itemTitulo">
        PLANILHAS DE AVALIAÇÃO
      </dxi-item>
      <dxi-item>
        <dx-button
          icon="add"
          class="btn-criar"
          (click)="openPlanilhas()"
          [height]="35"
          [width]="35"
        ></dx-button>
      </dxi-item>
    </dxo-toolbar>

    <dxi-column
      alignment="center"
      dataField="nome"
      caption="Lista de Setores"
      cellTemplate="nomeTemplate"
    >
    </dxi-column>
    <ng-template #nomeTemplate let-data>
      <span class="cursor-pointer" (click)="abrirDrawerSetor(data)">
        {{ data.nome }}
      </span>
    </ng-template>
  </dx-data-grid>
</div>

<!-- Drawer -->
<div class="drawer" [class.open]="drawerAberto">
  <div class="drawer-header">
    <h3>Configuração de Planilha</h3>
    <button class="header-btn-cancelar" (click)="drawerAberto = false">
      X
    </button>
  </div>

  <div class="drawer-top">
    <div *ngFor="let agrupador of agrupadoresList">
      <!-- Nome do agrupador e botão de adicionar -->
      <div class="agrupador-header">
        <dx-drop-down-box placeholder="{{ agrupador.nome }}">
          <dx-data-grid
            [dataSource]="agrupadoresSelecionados[agrupador.nome]"
            [showBorders]="true"
            [columnAutoWidth]="true"
            [rowAlternationEnabled]="true"
            [height]="200"
            [rowDragging]="rowDraggingConfig(agrupador.nome)"
          >
            <dxi-column dataField="descricao" caption="Item"></dxi-column>
            <dxi-column caption="Excluir" type="buttons" [width]="70">
              <div
                *dxTemplate="let cell of 'cellTemplate'"
                class="actions-container"
              >
                <span class="drag-icon">☰</span>

                <dx-button
                  icon="trash"
                  (onClick)="getBotaoRemover(agrupador.nome)"
                  hint="Remover item"
                ></dx-button>
              </div>
            </dxi-column>
          </dx-data-grid>
        </dx-drop-down-box>

        <dx-button
          icon="plus"
          (onClick)="abrirSelecaoItens(agrupador.nome)"
        ></dx-button>
      </div>
    </div>

    <!-- Botão de salvar alterações -->
    <div class="drawer-footer" style="gap: 15px">
      <button class="btn-confirmar" (click)="salvarAlteracoes()">
        Salvar Alterações
      </button>

      <button class="btn-cancelar" (click)="cancelarAlteracoes()">
        Cancelar
      </button>
    </div>

    <!-- Popup para selecionar itens -->
    <dx-popup
      [(visible)]="popupVisivel"
      width="50%"
      height="50%"
      title="Selecionar Itens"
    >
      <div *dxTemplate="let data of 'content'">
        <dx-list
          [dataSource]="itensSelecionaveis"
          [selectionMode]="'multiple'"
          [(selectedItems)]="itensSelecionadosTemp"
          [showSelectionControls]="true"
        ></dx-list>
        <div style="margin-top: 15px; text-align: right">
          <dx-button
            text="Confirmar"
            type="success"
            (onClick)="confirmarSelecaoItens()"
          ></dx-button>
        </div>
      </div>
    </dx-popup>
  </div>
</div>
