body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* CONTAINER DATAGRID */
.container-lg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

#itemTitulo {
  color: #00843d;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}

.btn-criar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #00843d;
  color: white !important;
  border: none;
  border-radius: 8px;
  font-size: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-criar:hover {
  background-color: #006b30;
}

.btn-criar:active {
  transform: scale(0.97); /* leve efeito de clique */
}

.btn-criar .dx-icon {
  font-size: 18px;
}

/* DRAWER */

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
  padding: 24px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  /* border-left: 5px solid #00843d; */
  font-family: "Outfit", sans-serif;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.drawer-top {
  flex: 1;
  overflow-y: auto;
  padding-right: 4px;
}

/* css necessário para abrir drawer quando feito com div class='drawer' */
.drawer.open {
  transform: translateX(0%);
  pointer-events: auto;
  visibility: visible;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.drawer-header h3 {
  font-size: 1.4rem;
  color: #333;
  margin: 0;
}

.drawer-header button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #888;
  cursor: pointer;
  transition: color 0.2s ease;
}

.drawer-header button:hover {
  color: #ff4d4f;
}

/* Lista de Agrupadores */
.agrupador-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 8px 12px;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
}

/* Largura do Input do Agrupadores */
.dx-texteditor.dx-editor-outlined{
  width: 90%;
}

/* Botão de adicionar Itens no Agrupador */
.dx-button-mode-contained{
  background-color: #006b30;
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
}

.dx-button-mode-contained.dx-button-default.dx-state-hover{
  background-color: #00843d;
}

.drag-icon {
  cursor: move;
  font-size: 18px;
  padding: 0 8px;
}

::ng-deep .dx-datagrid .dx-link{
  color: #006b30; /* Cor botão de Excluir itens */
}

/* POPUP SELECT ITENS */

.popup-scrollable {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px 0;
}

::ng-deep .dx-checkbox-checked .dx-checkbox-icon{
  color:#00843d
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #eee;
  padding-top: 10px;
  text-align: right;
  background-color: #fff;
  gap: 10px;
}


/* FOOTER DRAWER */
.drawer-footer {
  position: sticky;
  bottom: 0;
  background-color: #f9f9f9;
  padding-top: 10px;
  /* box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.05); */
  display: flex;
  justify-content: flex-start;
  z-index: 10;
}

.btn-confirmar{
  background-color: rgb(35, 219, 35);
  border: none;
  border-radius: 2px;
  font-family: "Outfit", serif;
  font-style: normal;
  height: 35px;
}

.btn-cancelar{
  background-color: red;
  border: none;
  border-radius: 2px;
  font-family: "Outfit", serif;
  font-style: normal;
  height: 35px;
}
