<div class="container-lg">
  <dx-data-grid
    id="dataGrid"
    [dataSource]="setoresList"
    [rowAlternationEnabled]="true"
    [showRowLines]="true"
    [showBorders]="true"
    width="100%"
    height="100%"
  >
    <dxo-toolbar class="toolbar" id="toolbar">
      <dxi-item location="before" id="itemTitulo">
        PLANILHAS DE AVALIAÇÃO
      </dxi-item>
      <dxi-item>
        <dx-button
          icon="add"
          class="btn-criar"
          (click)="openPlanilhas()"
          [height]="35"
          [width]="35"
        ></dx-button>
      </dxi-item>
    </dxo-toolbar>

    <dxi-column
      alignment="center"
      dataField="nomePlanilha"
      caption="Lista de Setores"
    >
    </dxi-column>
  </dx-data-grid>
</div>

<!-- Drawer -->
<div class="drawer" [class.open]="drawerAberto">
  <div class="drawer-header">
    <h3>Configuração de Planilha</h3>
    <button class="header-btn-cancelar" (click)="drawerAberto = false">
      X
    </button>
  </div>

  <div class="drawer-top">
    <div *ngFor="let agrupador of dataSource">
      <dx-drop-down-box
      >
        <div *dxTemplate="let data of 'dataSource'">
          <dx-data-grid
          [dataSource]="agrup"
          [columns]="gridColumns"
          [hoverStateEnabled]="true"
          [showBorders]="true"
          height="100%"
          >
            <dxo-selection mode="single"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>

    <div *ngFor="let agrupador of agrup">
      <!-- Nome do agrupador e botão de adicionar -->
      <div class="agrupador-header">
        <strong>{{ agrupador }}</strong>
        <dx-button
          icon="plus"
          (onClick)="abrirSelecaoItens(agrupador)"
        ></dx-button>
      </div>

      <!-- Lista de itens selecionados -->
      <div
        class="itens-selecionados"
        *ngIf="agrupadoresExpandidos[agrupador]"
        style="margin-left: 15px; margin-top: 5px"
      >
        <ul
          *ngIf="
            (agrupadoresSelecionados[agrupador] ?? []).length > 0;
            else nenhumItem
          "
        >
          <li *ngFor="let item of agrupadoresSelecionados[agrupador]">
            {{ item }}
          </li>
        </ul>
        <ng-template #nenhumItem><i>Nenhum item selecionado</i></ng-template>
      </div>
    </div>

    <!-- Botão de salvar alterações -->
    <div class="drawer-footer" style="gap: 15px">
      <button class="btn-confirmar" (click)="salvarAlteracoes()">
        Salvar Alterações
      </button>

      <button class="btn-cancelar" (click)="cancelarAlteracoes()">
        Cancelar
      </button>
    </div>

    <!-- Popup para selecionar itens -->
    <dx-popup
      [(visible)]="popupVisivel"
      [width]="300"
      [height]="400"
      title="Selecionar Itens"
    >
      <div *dxTemplate="let data of 'content'">
        <dx-list
          [dataSource]="itensSelecionaveis"
          [selectionMode]="'multiple'"
          [(selectedItems)]="itensSelecionadosTemp"
          [showSelectionControls]="true"
        ></dx-list>
        <div style="margin-top: 15px; text-align: right">
          <dx-button
            text="Confirmar"
            type="success"
            (onClick)="confirmarSelecaoItens()"
          ></dx-button>
        </div>
      </div>
    </dx-popup>
  </div>
</div>

<!-- <dx-data-grid
      id="dataGridDrawer"
      [dataSource]="agrupadoresList"
      [rowAlternationEnabled]="true"
      [showRowLines]="true"
      [showBorders]="true"
      width="100%"
      height="100%"
    >
      <dxo-toolbar class="toolbar" id="toolbar">
        <dxi-item location="center" id="itemTitulo"> Agrupadores </dxi-item>
      </dxo-toolbar>

      <dxi-column
        alignment="center"
        dataField="nomePlanilha"
        caption="Agrupadores"
      >
        <dx-drop-down-box>
          <dx-list
            class="chechbox"
            [dataSource]="agrupadoresList"
            [allowItemDeleting]="true"
          >
          </dx-list>
        </dx-drop-down-box>
      </dxi-column>
    </dx-data-grid> -->
