body {
  background: #f7f7f7;
  /* background: linear-gradient(330deg, rgba(247, 247, 247, 1) 0%, rgba(143, 143, 143, 1) 50%, rgba(77, 77, 77, 1) 100%); */
  background: linear-gradient(
    90deg,
    #605e5e 0%,
    #cccccc 100%
  ); /* gradient site megagoglio.com */
  height: 100%;
  width: 100%;
}

.images {
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo-images {
  margin: 8px;
  padding: 8px;
  max-width: 100px;
}

/* Wrapper Central */
.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  height: 70%;
}

/* Título */
span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
}

/* Formulário */
#formLogin {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #087d52;
  border: solid 1px #0000012f;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

/* Campos de entrada */
.input-box {
  border: 1px solid #087d52;
  border-radius: 8px;
  padding: 5px;
  outline: none;
  /* font-size: 15px; */
  transition: border-color 0.3s ease-in-out;
}

.input-box:focus {
  /* border-color: #006b30; */
  border-color: #087d52;
}

.dx-button-text{
  font-size: 18px;
}
