.container-lg{
  height: 100%;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Alinha os itens no meio da Linha */
::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td{
  vertical-align: middle;
}

.titulo{
  color: #087d52;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}

.input-box{
  padding: 10px;
  width: 70%;
  display: grid;
  justify-content: space-evenly;
}

/* Todos Inputs respectivamente */
.input-text{
  font-family: "Outfit", serif;
  border: none;
  border-bottom-style: groove;
  outline: none;
}

.header-buttons{
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#operator-btts{
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder-button{
  background-color: #087d52;
}

.start-button{
  background-color: #087d52;
}

.close-button{
  background-color: rgb(255, 59, 59);
}

.cancel-button{
  background-color: red;
}
