<div class="container-lg">
  <header style="display: flex; gap: 10px; justify-content: space-between">
    <h3 class="titulo" style="display: flex; align-items: center">
      PLANILHAS SETORES
    </h3>
    <div class="input-box" style="display: flex">
      <input class="input-text" type="text" placeholder="Nome do Avaliador" />
      <dx-date-box
        [(value)]="dataAvaliacao"
        type="date"
        displayFormat="dd/MM/yyyy"
        placeholder="Data da Avaliação"
        [showClearButton]="true"
        width="180"
        ></dx-date-box>
      <dx-select-box
      displayExpr="nome"
      valueExpr="id"
      [items]="planilhasList"
      [(value)]="setorSelecionadoId"
      (onValueChanged)="onSetorSelecionado($event)"
      placeholder="Selecione um setor">
      </dx-select-box>
    </div>
    <div class="header-buttons">
      <dx-button
        icon="check"
        class="start-button"
        id="options-buttons"
        height="30"
        width="30"
      ></dx-button>
      <dx-button
        icon="cursorprohibition"
        class="cancel-button"
        id="options-buttons"
        height="30"
        width="30"
      ></dx-button>
    </div>
  </header>

  <body>
    <dx-data-grid
      [dataSource]="gridData"
      [showBorders]="true"
      [rowAlternationEnabled]="true"
      height="90%"
      width="100%"
    >
      <dxi-column dataField="agrupador" caption="Agrupador" [groupIndex]="0"></dxi-column>
      <dxi-column dataField="item" caption="Item de Avaliação"></dxi-column
      ></dx-data-grid
    >
  </body>
</div>
