.container-lg{
  height: 100%;
  width: 100%;
  padding: 10px;
}

.titulo{
  color: #087d52;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}

.input-box{
  padding: 10px;
  width: 60%;
  display: grid;
  justify-content: space-evenly;
}

/* Todos Inputs respectivamente */
.input-text{
  font-family: "Outfit", serif;
  border: none;
  border-bottom-style: groove;
  outline: none;
}

.header-buttons{
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}
