@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  font-family: "Outfit", serif;
}

body, html
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

app-root {
  height: 100vh;
  /* display: flex; */
}
app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
app-toolbar-menu {
  display: flex;
}
app-menu {
  flex-grow: 1;
  display: flex;
}

button{
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
}

button:hover{
  opacity: 1;
}
